@import '../../style/colors';

.nhh__content {
    min-height: 700px;
    .nhh__content__header {
        height: 60px;
        line-height: 64px;
        text-align: center; 
        .sortBy-btn-list {
            button {
                text-transform: capitalize;
            }
            button.active {
                background: $activeBgColor;
            }
            button:hover {
                background: $hoverActiveBgColor;
            }
        }
    }
    .nhh__content__articles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 600px;
        .nhh__content__article-card {
            .nhh-card__content__image {
                background-color: $activeBgColor;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                height: 200px;
                width: 100%;
            }
            color: black;
            margin-bottom: 1em;
            @media screen and (min-width: 600px) {
                width: 48%;
                margin-right: 2%;
            }
            @media screen and (min-width: 1000px) {
                width: 32.333%;
                margin-right: 1%;
            }
            .nhh-card__content__details {
                padding: .5em;
                padding-bottom: 0;
                .clearfix {
                    font-size: 1.3rem;
                }
            }
        }
        
        .nhh__content__article-card:hover {
            h3 {
                color: lighten($blue, 15%);
            }
        }

    }
}