@import '../../style/colors';

.nhh__content {
    min-height: 700px;
    .nhh__content__header {
        height: 60px;
        line-height: 64px;
        text-align: center;
    }
    .nhh__content__articles {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 600px;
        .nhh__content__article-card {
            .nhh-card__content__image {
                background-color: $lightgray;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                height: 200px;
                width: 100%;
            }
            color: black;
            margin-bottom: 1em;
            width: 100%;
            @media screen and (min-width: 600px) {
                width: 48%;
                margin-right: 2%;
            }
            @media screen and (min-width: 1000px) {
                width: 32.333%;
                margin-right: 1%;
            }
            .nhh-card__content__details {
                padding: .5em;
                padding-bottom: 0;
                .clearfix {
                    font-size: 1.3rem;
                }
                .article-social-share {
                     button {
                        font-size: 01em;
                        padding: 0 10px;
                        img {
                            width: 20px;
                            position: relative;
                            top: 4px;
                        }
                     }
                }
            }
        }
        
        .nhh__content__article-card:hover {
            h3 {
                color: darken($brand, 15%);
            }
        }

    }
    .nhh__content__footer {
        text-align: center;
        @media screen and (max-width: 600px){
            padding: 0 1em;
        }
    }
}