@import '../../style/colors';

.nht-content {
    height: 100vh;
}
.nht-app__footer {
    // border-top: 1px solid $brand;
    padding: 15px;
    text-align: center;
}

.nhh {
    .nhh__header {
        border-bottom: 1px solid $brand;
        height: 60px;
        .brand-name {
            font-size: 2.5rem;
            cursor: pointer;
            line-height: 60px;
            text-align: center;
            color: darken($brand, 15%);
            font-family: "PT Serif", Georgia, serif;
        }
        .logo-img{
            height: 40px;
            margin-right: 5px;
            position: relative;
            top: 10px;
        }
        @media screen and (max-width: 600px){
            padding: 0 .5em;
            .brand-name {
                font-size: 2.2rem;
            }
        }
    }
    .nhh__nav-filter {
        ul {
            text-align: center;
            li:first-child {
                border-left: 1px solid $brand;
            }
        }
        li {
            border-right: 1px solid $brand;
            cursor: pointer;
            text-align: center;
            padding: 0 1em;
            min-width: 160px;
        }
        li.active,li.active:hover {
            background-color: $activeBgColor;
        }
        li:hover {
            background-color: $hoverActiveBgColor;
        }
        .nhh__nav-filter__tab {
            height: 45px;
            border-bottom: 1px solid $brand;
            line-height: 45px;
            overflow: hidden;
            > ul {
                padding-bottom: 17px;
            }
        }
        .nhh__nav-filter__tab--source {
            height: 80px;
            overflow: hidden;
            border-bottom: 1px solid $brand;
            > ul {
                padding-bottom: 17px;
                .empty-source {
                    height: 80px;
                    line-height: 80px;
                }
            }
            .filter__tab--source__box {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                height: 50px;
                width: 100%;
            }
            .filter__tab--source__label {
                height: 30px;
                line-height: 30px;
            }
        }
        @media screen and (max-width: 600px) {
            font-size: 0.8em;
            .nhh__nav-filter__tab {
                height: 35px;
                line-height: 35px;
            }
            .nhh__nav-filter__tab--source {
                height: 50px;
                > ul {
                    .empty-source {
                        height: 50px;
                        line-height: 50px;
                    }
                }
                .filter__tab--source__box {
                    height: 30px;
                }
                .filter__tab--source__label {
                    height: 20px;
                    line-height: 20px;
                }
            }

        }
    }
    .nhh__footer {
        text-align: center;
        border-top: 1px solid $brand;
        padding: 1em;
        margin-top: 1em;
    }

}