// Buttons
@import 'colors';
@import 'typography';

.btn,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: inline-block;
  height: 36px;
  padding: 0 30px;
  color: $button-text;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  font-family: $sans-serif-font-stack;
  line-height: 36px;
  text-decoration: none;
  white-space: nowrap;
  background-color: $white;
  border-radius: 1px;
  border: 1px solid $lightgray;
  cursor: pointer;
  box-sizing: border-box;
  transition: .2s;
}

.btn:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  background: $hoverActiveBgColor;
  color: $button-text;
  border-color: $button-border-color;
  outline: 0;
}