// Colors

// Palette
// =============================================================================

// Brand
$blue:             #0080ff;

// Secondary colors
$solitude:          #E8F3FF;
$steel:             #4778B0;
$umber:             #B88B37;
$emerald:           #568F49;

// Utility colors
$white:             #fff;
$alabaster:         #f4f4f4;
$silver:            #ccc;
$dust:              #979797;
$charcoal:          #333;
$lightgray:         #ddd;

// Active UI state color
$activeBgColor:       lighten(#ddd , 10%);
$hoverActiveBgColor:  lighten(#ddd , 5%);

// Applications
// =============================================================================

// Backgrounds
$body-background: $white;
$accent-background: $alabaster;
$default-border: $silver;

// Typography
$text-color: $charcoal;
$text-accent: $blue;
$text-muted: $dust;

// UI
// $button-background: $steel;
// $button-background-hover: darken($steel,8%);
$button-background:  $activeBgColor;
$button-background-hover: $hoverActiveBgColor;
$button-border-color: $lightgray;
$button-text: black;

$text-highlight: $solitude;
$ui-highlight: $solitude;

$default-shadow: $charcoal;
