// Utilities
@import 'colors';

$default-shadow: 1px 1px 16px rgba($charcoal, .1);

.u-full-width {
  width: 100%;
  box-sizing: border-box; 
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box; 
}

.u-pull-right {
  float: right;
}

.u-pull-left {
  float: left;
}

.text-center {
  text-align: center;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-right {
  text-align: right;
}

.text-muted {
  color: $text-muted;
}
.icon {
    width: 25px;
}
.clearfix::after {
  content:"";
  display:table;
  clear:both;
}

.img-scale {
  width: 100%;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-captalize {
  text-transform: capitalize;
}

.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both;
}
.horizontal-scroll {
  overflow: hidden;
  white-space: nowrap;
  overflow-x: auto;
}

.u-display-inline-block {
  display: inline-block;
}

.u-display-block {
  display: block;
}

.u-no-margin {
  margin: 0;
}

@media screen and (min-width: 599px){
  .show-md {
    display: none;
  }
}
